html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

.fixed-navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: darkslategray;
}

.navbar-list {
  display: flex;
  margin-right: 2rem;
}

.fixed-navbar ul {
  list-style: none;
}

.navbar-list li {
  padding: 1rem;
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: lightcoral;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-links-lists {
  display: flex;

}